

.blog-item {margin: 30px 0 30px 0;list-style: none;}

.blog-title {font-size: 1.2em;color: var(--blog-tag-color);text-decoration: none;}
.blog-title:hover {text-decoration: underline;color: var(--link-color);}
.blog-title a{margin: 0 0 30px 0;color: var(--blog-tag-color);}

.blog-tags a{font-size:1.1em;color: var(--blog-tag-color);text-decoration: none;}
.blog-tags a{margin: 5px 0 5px 0;}
.blog-tags  a{text-decoration: none;}
.blog-tags a:hover {color: var(--link-hover-color);}

.blog-date {color: var(--link-hover-color);font-size:1em;}
.blog-date p{margin: 0 0 5px 0;}

.blog-preview {color: var(--link-hover-color);font-size: 1.2em;}
.blog-preview p{margin: auto;}

  .blog-list {
      list-style: none;
      padding: 20px;
      margin: 0;
  }

  .blog-row {
      display: flex;
      justify-content: space-between;
      padding: 0.5rem 0;
      margin-bottom: 1rem;
      font-size: 1rem;
  }

  .blog-title-left {
      flex: 1;
      text-align: left;
      color: var(--text-color);
  }

  .blog-title-left a {
      text-decoration: none;
      color: var(--text-color);
  }

  .blog-title-left a:hover {
      text-decoration: underline;
  }

  .blog-date-right {
      display: inline-block;
      width: 100px;
      text-align: right;
      font-family: monospace;
      color: var(--text-color);
      white-space: nowrap;
  }