<h3>Built with</h3>
<section class="tech-section">
  <div class="tech-container">
    <div class="tech-item">
      <a href="https://astro.build" target="_blank" rel="noopener noreferrer">
        Astro by Astro Contributors ↗
      </a>
      <p>https://www.astro.build</p>
    </div>
    <div class="tech-item">
      <a href="https://microcms.io" target="_blank" rel="noopener noreferrer">
        microCMS by microCMS Inc. ↗
      </a>
      <p>https://microcms.io</p>
    </div>
    <div class="tech-item">
      <a
        href="https://iconify.design"
        target="_blank"
        rel="noopener noreferrer"
      >
        Iconify by Contributors ↗
      </a>
      <p>https://iconify.design</p>
    </div>
    <div class="tech-item">
      <a
        href="https://tailwindcss.com"
        target="_blank"
        rel="noopener noreferrer"
      >
        Tailwind CSS by Tailwind Labs ↗
      </a>
      <p>https://tailwindcss.com</p>
    </div>
    <div class="tech-item">
      <a
        href="https://www.cloudflare.com"
        target="_blank"
        rel="noopener noreferrer"
      >
        Cloudflare by Cloudflare Inc. ↗
      </a>
      <p>https://www.cloudflare.com</p>
    </div>
  </div>
</section>

<style>
  .tech-section {
    margin-top: 2rem;
    padding: 1rem;
    background-color: var(--content-bg);
    border: 1px solid var(--border-color);
    border-radius: 0.5rem;
  }

  .tech-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .tech-item a {
    color: var(--link-color);
    font-weight: 500;
    text-decoration: none;
  }

  .tech-item a:hover {
    text-decoration: underline;
    color: var(--link-hover-color);
  }

  .tech-item p {
    font-size: 0.9em;
    color: var(--text-color);
    margin: 0;
  }
</style>
