---
import Layout from "../../layouts/Layout.astro"; // ← 階層が1つ上がるので注意
import { getBlogs } from "../../libs/microcms.ts";
import "../../styles/blog.css";

type Blog = {
  publishedAt: string;
};

const response = await getBlogs({
  fields: ["publishedAt"],
});

const blogs: Blog[] = (response.contents as any) || [];

const dateCountMap = new Map<string, number>();

blogs.forEach((blog) => {
  if (blog.publishedAt) {
    const publishedDate = new Date(blog.publishedAt);
    if (!isNaN(publishedDate.getTime())) {
      const yearMonth = `${publishedDate.getFullYear()}-${String(publishedDate.getMonth() + 1).padStart(2, "0")}`;
      dateCountMap.set(yearMonth, (dateCountMap.get(yearMonth) || 0) + 1);
    }
  }
});

const uniqueDates: string[] = [...dateCountMap.keys()].sort((a, b) =>
  b.localeCompare(a)
);
---

<Layout title="Archives">
  <div class="all" data-pagefind-ignore="all">
    <div class="content">
      <h1>Archives</h1>
      {
        uniqueDates.map((date) => (
          <li class="blog-item">
            <a
              href={`/archives/${encodeURIComponent(date)}`}
              class="blog-title"
            >
              {date} ({dateCountMap.get(date)})
            </a>
          </li>
        ))
      }
    </div>
  </div>
</Layout>
