---
import Layout from "../../layouts/Layout.astro";
import { getBlogs } from "../../libs/microcms";
import "../../styles/blog.css";

const response = await getBlogs({ fields: ["category"] });
const blogs = response.contents as { category: string[] }[];

const categoryCountMap = new Map<string, number>();
blogs.forEach((blog) => {
  blog.category?.forEach((name) => {
    categoryCountMap.set(name, (categoryCountMap.get(name) || 0) + 1);
  });
});

const uniqueCategories = [...categoryCountMap.keys()];
---

<Layout title="Categories">
  <div class="all" data-pagefind-ignore="all">
    <div class="content">
      <h1>Categories</h1>
      <ul>
        {
          uniqueCategories.map((cat) => (
            <li class="blog-item">
              <a
                href={`/categories/${encodeURIComponent(cat)}`}
                class="blog-title"
              >
                {cat} ({categoryCountMap.get(cat)})
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</Layout>
