---
import "@pagefind/default-ui/css/ui.css";
import "../styles/pagefind-modular-ui.css";
---

<div class="search"></div>

<svg
  xmlns="http://www.w3.org/2000/svg"
  width="24"
  height="24"
  viewBox="0 0 24 24"
  ><path
    fill="currentColor"
    d="M9.539 15.23q-2.398 0-4.065-1.666Q3.808 11.899 3.808 9.5t1.666-4.065T9.539 3.77t4.064 1.666T15.269 9.5q0 1.042-.369 2.017t-.97 1.668l5.909 5.907q.14.14.15.345q.009.203-.15.363q-.16.16-.354.16t-.354-.16l-5.908-5.908q-.75.639-1.725.989t-1.96.35m0-1q1.99 0 3.361-1.37q1.37-1.37 1.37-3.361T12.9 6.14T9.54 4.77q-1.991 0-3.361 1.37T4.808 9.5t1.37 3.36t3.36 1.37"
  ></path></svg
>

<script>
  import { PagefindUI } from "@pagefind/default-ui";

  new PagefindUI({
    element: ".search",
    pageSize: 10,
    excerptLength: 50,
    showSubResults: false,
    showImages: false,
    translations: {
      placeholder: "検索",
      clear_search: "クリア",
      load_more: "More",
      search_label: "",
      zero_results: "「[SEARCH_TERM]」に一致する記事は見つかりませんでした",
      many_results: "「[SEARCH_TERM]」の検索結果（[COUNT] 件）",
      one_result: "「[SEARCH_TERM]」の検索結果（[COUNT] 件）",
      searching: "「[SEARCH_TERM]」を検索しています...",
    },
    debounceTimeoutMs: 300,
  });
</script>
<style>
  .search {
    transition-duration: 300ms;
    background: var(--bg-color);
    border-radius: 10px;
    padding: 8px;
    margin: 10px;
  }

  .search:not(:has(.pagefind-ui__hidden)) {
    border-radius: 16px;
  }
</style>
